.flex{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6rem;
    margin-top: 1rem;
    border-radius: 12px;
    border-top: 1px solid var(--gray-400);
}

.textbox{
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.notask{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    margin-top: 2rem;
}
